doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE-edge')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='css/main.min.css')
    title Your Title
  body
    include sections/header
    include sections/portfolio
    include sections/portfolio-next
    include sections/form
    include sections/blog
    include sections/footer

  script(src="/js/main.min.js")
