header.main-header.grid(style="background-image:url(images/0-header.jpg)")
  .header-content.grid
    h1 We are real creators
    .header-buttons
      a.button(href="#") Follow
      a.button.button-grey(href="#") Go Home

