section.section-ready.landing-section
  .container.grid
    .ready-left
      h2 Are You Ready ? #[br] Are You MTHFCKU READY ?
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aspernatur dicta dolorem enim, illo laborum natus perferendis possimus quas similique. Animi eligendi ipsum numquam perspiciatis placeat possimus quaerat quis sapiente!
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aspernatur dicta dolorem enim, illo laborum natus perferendis possimus quas similique. Animi eligendi ipsum numquam perspiciatis placeat possimus quaerat quis sapiente!
    .ready-right
      img(src="images/example.jpg" alt="example").img-responsive
